NODE_ENV=development
PORT=3000
POSTGRES_USER=innogeeks
POSTGRES_PASSWORD=innogeeks_local
POSTGRES_DB=innogeeks
POSTGRES_PORT=5433
DATABASE_URL=postgresql://innogeeks:innogeeks_local@localhost:5433/innogeeks?schema=public
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379
